.emp-table{
  width: 500px;
  padding: 100px 250px;
  background-color: white;  
  margin: 50px 0;
  border-radius: 10px;

}

.headers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1690a5;
    color: black;
}

.add{
    background-color: #849284;
    color: #849284;
}

.btn-primary{
    background-color: #04a3be;
    color: white;
}
.btn-danger{
    background-color: rgb(201, 134, 134);
    color: white;
}
th{
    text-align: center;
}